@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

.weather-box {
  width: 400px;
  height: 550px;
  border: 1px solid rgb(1, 1, 7);
  background-image: url(./Assets/Images/weatherBackgroundImage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-cube {
  width: 110px;
  height: 110px;
  border: none;
  border-radius: 15px;
  padding: 5px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}

.weather-cube:hover {
  transform: scale(1.1); 
}

.widget-icon {
  font-size: 30px;
  padding-top: 20px;
}

.major-widget {
  padding: 20px 20px 20px;
  font-size: 65px;
}

.search-box {
  margin:10px;
}